obj
bin
Bin
Obj
/CRM.Server.Web.Api/bin
/CRM.Server.Web.Api/obj
/CRM.Server.Web/obj
/CRM.Server.Web/bin
/CRM.Server.Services/bin
/CRM.Server.Services/obj
/CRM.Server.Models/bin
/CRM.Server.Models/obj
/CRM.Server.Database/obj
/CRM.Server.Database/bin
/CRM.Server.Data/bin
/CRM.Server.Data/obj
/.vs/CRM/v16/*.suo
/CRM.Server.Database/bin/Debug/*.dll
DesignTimeBuild
.vscode
/CRMAngular/node_modules
/CRM.Server.Database/bin
dist
/CRM.Server.Database/CRM.Server.Database.dbmdl
/CRM.Server.Database/CRM.Server.Database.jfm
/CRM.Server.Database/*.jfm
/CRM.Server.Web.Api/logs/*.log
.vs
.angular
/CRM.Server.Web.Api/wwwroot/Uploads/MobileFiles/IMG_20230102_142119 (1).jpg
/CRM.Server.Web.Api/wwwroot/Uploads/WebFiles/BSPL_Attendance_Feb_2023.xls
