<div class="card p-0">
    <div class="row">
        <div class="col-md-12">
            <div class="incident-header">
                <p>Search Work Permit</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered ehs-table">
                        <thead>
                            <td>TypeID</td>
                            <td>PermitName</td>
                            <td></td>
                        </thead>
                        <tr>
                            <td>1</td>
                            <td><a (click)="goTotype('General Work or Cold Work')">General Work / Cold Work</a></td>
                            <td><i class="fa fa-pencil mr-3" aria-hidden="true"></i><i class="fa fa-trash"
                                    aria-hidden="true"></i>
                            </td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>