<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="board-text">
                <img src="../../../assets/layout/images/icon-1.png" />
                <h3>EHS Schedule</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="board-text">
                <img src="../../../assets/layout/images/icon-1.png" />
                <h3>EHS Schedule</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="board-text">
                <img src="../../../assets/layout/images/icon-1.png" />
                <h3>EHS Schedule</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="board-text">
                <img src="../../../assets/layout/images/icon-1.png" />
                <h3>EHS Schedule</h3>
            </div>
        </div>
    </div>
</div>
