<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <div><strong>Role List</strong></div>
        <div class="mb-3">
            <a routerLink="/roles/add-role" class="btn btn-dark btn-sm"
                >Add Role</a
            >
        </div>
    </div>
    <table class="table table-bordered ehs-table">
        <thead>
            <td>Role ID</td>
            <td>Role Name</td>
            <td>Action</td>
        </thead>
        <tr *ngFor="let item of rolelist">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
                <button
                    type="button"
                    class="btn btn-sm btn-default"
                    (click)="onEdit(item.id)"
                >
                    <i class="fa fa-pencil mr-3" aria-hidden="true"></i>
                </button>
                <!-- <button
                    type="button"
                    class="btn btn-sm btn-default"
                    (click)="onDelete(item.id)"
                >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button> -->
                <button
                    type="button"
                    class="btn btn-sm btn-default"
                    (click)="onPermission(item.id)"
                >
                    Role Permission
                </button>
            </td>
        </tr>
    </table>
</div>
