<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header bg-white">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="h4">Add or remove users from this role</div>
                    <div class="card-toolbar">
                        <a
                            routerLink="/roles/role-list"
                            class="btn btn-secondary"
                        >
                            <i class="fa fa-long-arrow-alt-left mr-2"></i> Role
                            List
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="card-body">
                <div class="text-centre m-auto">
                    <div class="spinner-grow text-info" *ngIf="this.spinner==true">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div> -->
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-4 col-md-6 col-lg-2">
                        <div class="form-group"></div>
                    </div>
                    <div class="col-xs-4 col-md-6 col-lg-4">
                        <div class="form-group">User Name</div>
                    </div>
                    <div class="col-xs-4 col-md-6 col-lg-3">
                        <div class="form-group">First Name</div>
                    </div>
                    <div class="col-xs-4 col-md-6 col-lg-3">
                        <div class="form-group">Last Name</div>
                    </div>
                </div>
            </div>
            <div *ngIf="this.model != undefined" class="card-body">
                <div class="row" *ngFor="let u of this.model.userRoleModelList">
                    <hr />
                    <div class="col-xs-4 col-md-6 col-lg-2">
                        <div class="form-group">
                            <input type="checkbox" [(ngModel)]="u.isSelected" />
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-6 col-lg-4">
                        <div class="form-group">
                            <span for="" class="show-label">{{
                                u.userName
                            }}</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-6 col-lg-3">
                        <div class="form-group">
                            <span for="" class="show-label">{{
                                u.firstName
                            }}</span>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-6 col-lg-3">
                        <div class="form-group">
                            <span for="" class="show-label">{{
                                u.lastName
                            }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" (click)="updateUsersInRole()">
                    Update
                </button>
                <button (click)="onCancel()" class="btn btn-gren">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
